<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Exemplo Buttons 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button> Botão comum </ion-button>

  <ion-button href="http://google.com.br"> Google </ion-button>
  <ion-button href="/list"> Header/Footer </ion-button>

  <ion-button color="primary"> Estilo Primário </ion-button>
  <ion-button color="secondary"> Estilo Secundário </ion-button>
  <ion-button color="tertiary"> Estilo Terciário </ion-button>
  <ion-button color="success"> Estilo sucesso </ion-button>
  <ion-button color="warning"> Estilo alerta </ion-button> 
  <ion-button color="danger"> Estilo perigo </ion-button> 
  <ion-button color="dark"> Estilo dark </ion-button> 
  <ion-button color="medium"> Estilo medium </ion-button> 
  <ion-button color="light"> Estilo light </ion-button> 

  <ion-button expand="full">Botão Full Horizontal</ion-button>
  <ion-button expand="block">Botão Full Horizontal</ion-button>

  <ion-button fill="outline">Botão apenas contorno</ion-button>

  <ion-button color="danger">
    <ion-icon name="star" slot="start"></ion-icon>
    Favoritar
  </ion-button>

  <ion-button>
    <ion-icon name="share" slot="end"></ion-icon>
    Compartilhar
  </ion-button>

  <ion-button>
    <ion-icon name="person-add" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button expand="full" (click) = 'abrirTabs()'>
    <ion-icon name="bookmarks" slot="icon-only"></ion-icon>
  </ion-button>

  <!-- Código exemplo ToggleButton -->

  <ion-list>
    <ion-item>
      <ion-label>Wi-Fi</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Dados - 4G</ion-label>
      <ion-toggle color="success"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>GPS</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Bluetooth</ion-label>
      <ion-toggle disabled checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Rotacionar</ion-label>
      <ion-toggle [(ngModel)]="habilitado"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
