<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Exemplos Alert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="full" (click) = "ExibeAlertSimples()"> Alert Simples</ion-button>

  <ion-button expand="full" (click) = "ExibeAlertBotoes()"> Alert Botões</ion-button>

  <ion-button expand="full" (click) = "ExibeConfirmacao()"> Alert Confirmação</ion-button>

  <ion-button expand="full" (click) = "ExibeAlertPrompt()"> Alert Prompt</ion-button>

  <ion-button expand="full" (click) = "ExibeAlertRadio()"> Alert Radio</ion-button>

  <ion-button expand="full" (click) = "ExibeAlertCheckBox()"> Alert CheckBox</ion-button>

</ion-content>
