<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      GRIDS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
    <h3>Testando GRIDS</h3>

    <ion-grid text-center> 
      <ion-row>
        <ion-col>Coluna 1 </ion-col>
        <ion-col>Coluna 2 </ion-col>
        <ion-col>Coluna 3 </ion-col>
      </ion-row>
    </ion-grid>

    <h3>Tamanhos colunas</h3>
    
    <ion-grid text-center> 
      <ion-row>
        <ion-col>Coluna 1 </ion-col>
        <ion-col>Coluna 2 </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>Coluna 1 </ion-col>
        <ion-col>Coluna 2 </ion-col>
        <ion-col>Coluna 3 </ion-col>
        <ion-col>Coluna 4 </ion-col>
      </ion-row>
    </ion-grid>

    <h3>Personalizando o tamanho das colunas</h3>
    
    <ion-grid text-center> 
      <ion-row>
        <ion-col>Coluna 1 </ion-col>
        <ion-col>Coluna 2 </ion-col>
        <ion-col>Coluna 3 </ion-col>
        <ion-col>Coluna 4 </ion-col>
        <ion-col>Coluna 5 </ion-col>
        <ion-col>Coluna 6 </ion-col>
        <ion-col>Coluna 7 </ion-col>
        <ion-col>Coluna 8 </ion-col>
        <ion-col>Coluna 9 </ion-col>
        <ion-col>Coluna 10 </ion-col>
        <ion-col>Coluna 11 </ion-col>
        <ion-col>Coluna 12 </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">Coluna 1 </ion-col>
        <ion-col size="3">Coluna 2 </ion-col>
        <ion-col size="2">Coluna 3 </ion-col>
        <ion-col size="4">Coluna 4 </ion-col>
      </ion-row>
    </ion-grid>

    <h3>Alinhando GRIDS</h3>
    
    <ion-grid text-center> 
      <ion-row align-items-start>
        <ion-col>Coluna 1 </ion-col>
        <ion-col>Coluna 2 </ion-col>
        <ion-col>Coluna 3 </ion-col>
        <ion-col>
          Coluna 4 
          <br>#
          <br>#
          <br>#
          <br>#
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
